# Vercel Deployment
DEPLOY_VERCEL_URL="https://physical-ai-book-lake-three.vercel.app" # /sitemap.xml

# OpenAI API
OPENAI_API_KEY="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"


# Cohere API
COHERE_API_KEY="BUq6Z6ewir2YTV7ghQAReujSx7lc8VKh8zsx46iP"

# Qdrant Cloud
QDRANT_URL="https://dbe06b27-f4e3-4c82-a911-09160423ee6c.us-east4-0.gcp.cloud.qdrant.io:6333"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.VTqpmqJY6u7jaE5MVJyEwTm1KZY0XOSyIZZIJNZNzzg"

# Optional Configuration (defaults shown)
COLLECTION_NAME=docusaurus_docs
CHUNK_SIZE=512
MAX_CHUNK_SIZE=1024
BATCH_SIZE=96
MAX_CRAWL_DEPTH=3
